/* Import Google Font */
@import url("https://fonts.cdnfonts.com/css/larke-neue");

/* GLOBAL STYLES */
* {
  text-decoration: none;
}
body {
  font-family: "Larke Neue Thin", "Roboto", "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}
.night-mode {
  color: white;
}
body.night-mode #backgroundOverlay {
  background-color: #2c2c2c;
}
#backgroundOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.container {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  overflow: auto;
}
main {
  max-width: 1200px;
  margin: 40px auto;
}
h1,
h2,
h3 {
  font-weight: 700;
}
h2 {
  font-size: 70px;
  margin-bottom: 0;
}
h3 {
  color: #6a9b8f;
  font-size: 25px;
}
p {
  font-size: 22px;
  color: #000000;
}
body.night-mode p {
  color: white;
}
#about,
#projects,
#contact {
  margin: 0 5em;
  margin-bottom: 10em;
}
/* LOADER */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.night-mode #overlay {
  background-color: #2c2c2c;
}
.loader {
  position: relative;
  width: 40px;
  height: 40px;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border: 3px solid #6a9b8fc9;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 2s linear infinite;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: auto;
  pointer-events: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* NAV */

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2em 10em;
}
.nav-right .night-mode-icon {
  cursor: pointer;
  color: #ccc;
  position: fixed;
  right: 25px;
  top: 25px;
}
.nav-right .night-mode-icon:hover {
  filter: drop-shadow(0px 0px 10px #ffd700);
}
#moonIcon,
#sunIcon {
  font-size: 50px;
}
#sunIcon,
#sunIcon.active {
  color: #ddbc00 !important;
}
#sunIcon:hover {
  filter: drop-shadow(0px 0px 10px #ffd700);
}
#moonIcon {
  display: none;
}
#moonIcon:hover {
  filter: drop-shadow(0px 0px 10px #ffffff);
}
#moonIcon.active {
  color: #ffffff !important;
}
.social-icons {
  display: flex;
  align-items: center;
  padding-right: 2em;
}
.social-icons a {
  color: inherit;
  font-size: 2em;
  margin-right: 25px;
}
.social-icons a:hover,
.hamburger-menu:hover,
.nav-menu a:hover {
  color: #6a9b8f;
}
.hamburger-menu {
  display: inline-block;
  align-items: center;
  /* top: 48px; */
  margin-left: 2em;
}
i.fas.fa-bars {
  font-size: 2em;
  cursor: pointer;
}
.nav-menu {
  display: block;
  position: absolute;
  top: 4em;
  right: 70px;
  font-size: 24px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color:rgb(245, 245, 245);
  padding: 0 2em;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 4px #000000);
}
body.night-mode .nav-menu {
  background-color: #2c2c2c;
}
.nav-menu a {
  color: #000000;
  font-weight: 900;
}
body.night-mode .nav-menu a {
  color: white;
}
.nav-menu li {
  margin: 20px 0;
}
.hamburger-menu:hover .nav-menu {
  max-height: 500px;
}
.social-icons a,
.hamburger-menu,
.nav-menu a {
  transition: color 0.3s ease;
}
body.night-mode .social-icons a:hover,
body.night-mode .hamburger-menu:hover,
body.night-mode .nav-menu a:hover {
  color: #90d4c4;
}
ul.no-dot {
  list-style-type: none;
  padding-left: 0; 
  margin: 0;
  text-align: center;
  margin: 20px 0;
}
#prompt {
  position: fixed;
  top: 130px;
  right: -50px;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: grey;
  border-radius: 20px;
  font-size: 20px;
  z-index: 9;
  color: #ffffff;
}
/* HEADER */

#home {
  display: flex;
  height: 100vh;
  justify-content: center; 
  align-items: center; 
  margin: 0 3em;
}
.head-name {
  max-width: 20em;
}
.head-name h1 {
  font-size: 65px;
  color: black;
  font-weight: 500;
}
body.night-mode .head-name h1 {
  color: white;
}
.name-text {
  font-weight: 900;
}
.highlight-text {
  color: #6a9b8f;
}
body.night-mode .highlight-text {
  color: #90d4c4;
}
.head-name span {
  opacity: 0;
  transform: translateX(-50px);
  display: inline-block;
}
.head-name.animate span {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
/* ABOUT */

.abouts {
  display: flex;
}
.get-to-know-me,
.my-skills {
  flex: 1;
}
.get-to-know-me {
  padding-right: 3em;
}
.my-skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.my-skills li {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 25px;
}
body.night-mode #about h3,
body.night-mode #projects h3,
body.night-mode #contact h3 {
  color: #90d4c4;
}
/* PROJECTS */

body.night-mode #projects {
  color: #ffffff;
}
.all-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.proj {
  flex-basis: 30%;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  position: relative;
  width: 70%;
  height: 45em;
  transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
body.night-mode .proj {
  background-color: #44444426;
}
.proj:hover {
  transform: scale(1.02);
  z-index: 1;
  opacity: 1;
}
body.night-mode .proj:hover {
  background-color: rgba(99, 99, 99, 0.11);
}
.proj h3 {
  color: black;
}
body.night-mode .proj h3 {
  color: #ffffff !important;
}
.proj p {
  font-size: 16px;
}
.proj img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
}
.proj:hover img {
  opacity: 1;
}
.project-info {
  padding: 10px;
}
body.night-mode .project-info {
  color: white;
}
/* CONTACT */

#contact {
  margin-bottom: 5em;
}
body.night-mode #contact {
  color: #ffffff;
}
.connect-box {
  padding: 2rem;
  text-align: center;
}
body.night-mode .connect-box {
  color: #fff;
}
.connect-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.connect-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: #666;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.connect-links a:hover {
  background-color: #6a9b8f;
}
.connect-links a i {
  /* margin-right: 0.5rem; */
  font-size: 3rem;
}
body.night-mode .connect-box a:hover {
  background-color: #90d4c4;
}
/* FOOTER */

footer {
  padding-bottom: 20px;
  text-align: center;
}
footer a {
  font-size: 12px;
  color: inherit;
  text-decoration: none;
}
/* MOBILE STYLES */

@media screen and (max-width: 768px) {
  /* GLOBAL STYLES */
  p {
    font-size: 15px;
  }
  #about,
  #projects,
  #contact {
    margin: 0 2em;
    margin-bottom: 5em;
  }
  h2 {
    font-size: 3em;
  }
  #prompt {
    position: absolute;
    top: 110px;
    right: -80px;
    font-size: 15px;
  }
  /* NAV */

  .nav-right {
    margin: 27px 100px;
  }
  .social-icons {
    /* display: none; */
    font-size: 15px;
    padding-right: 2em;
  }
  .social-icons a {
    margin-right: 25px;
  }
  .nav-menu {
    padding: 0 2em;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 2px #000000);
  }
  #moonIcon,
  #sunIcon {
    font-size: 45px;
    z-index: 1;
    position: absolute;
  }
  /* HEADER */

  #home {
    align-items: initial;
  }
  .head-name {
    margin: 1em 0;
    justify-content: center;
  }
  .head-name h1 {
    font-size: 35px !important;
  }

  /* ABOUT */
  .about-me {
    max-width: 100% !important;
    order: 2;
  }
  .abouts {
    flex-direction: column;
  }
  .get-to-know-me {
    padding-right: 0;
  }
  .my-skills {
    order: 3;
  }
  .my-skills li {
    font-size: 15px !important;
  }

  /* PROJECTS */
  .all-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .proj {
    flex-basis: auto;
    align-items: center;
    height: auto;
    width: 90%;
  }
  .proj img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    object-position: center;
  }

  /* FOOTER */
  footer p {
    font-size: 16px;
  }
}
