/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global styles */
* {
    box-sizing: border-box;
}

body {
    font-family:'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('../img/background2.jpg') no-repeat center center fixed; 
    background-size: cover;
}

/* Header */
header {
    text-align: left;
}

.head-hello {
    /* CHANGE COLOR LATER */
    color: #000000; 
}

.head-name {
    font-size: 50px;
}

.head-hello p, .head-name h1 {
    margin: 0;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

/* Social Icons */

.social-icons {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .social-icons a:hover {
    color: #598c4b; 
  }  

  .social-icons2 {
    display: flex;
    align-items: center;
  }
  
  .social-icons2 a {
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .social-icons2 a:hover {
    color: #598c4b; 
  }  

/* Main content */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0); /* the 0 sets transparency */
    overflow: auto;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    font-weight: 700;
}

h2 {
    border-bottom: 2px solid #f8f9fa;
    padding-bottom: 10px;
}

/* Project Cards */

/* SEE WHAT IS NEEDED AND WHAT IS NOT */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.project {
    background-color: #f8f9fa;
    border-radius: 10px;
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 20px;
    position: relative;
}

.project:hover {
    opacity: 1; /* show the content when the user hovers over the card */
  }

.project img {
    max-width: 100%;
    transition: transform 0.3s ease-in-out; 
    opacity: 0.4;
}

.project:hover img {
    transform: scale(1.2);
    opacity: 1;
  }

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
}

.project:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: scale(0.9);
    z-index: 1;
}

.project h3 {
    margin-top: 0;
}

.project a {
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
}
  

/* Footer */
footer {
    padding: 20px;
    text-align: center;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
    .project {
        flex-basis: calc(50% - 10px);
    }
}
